<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <!-- href in this is relative to public folder named in app.js as public -->
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        {{!-- <h1>{{title}}</h1> --}}
        <br>
        <img class="portrait center" src="/img/jesse.jpg">
        {{!-- <p>By {{name}}</p> --}}
                <p>Hello there, my name is Jesse Narkmanee a sophomore student studying computer science. I made this website to give
                    insight in how harmful bad air quality can be. Sometimes it's hard to interpret
                    air quality data because of the really confusing scientific jargon and acronyms such as PM2.5 and AQI. In current
                    times, it is very well understood how harmful cigarette smoking can be to our health, so I hope in my generation we 
                    can equally understand how harmful pollution is to our bodies as well. 
                </p>

                <p>Therefore, after reading countless articles on the harmful equivalence to air pollution and smoking, I made
                this web app to provide a visualizer for the everyday person to showcase
                the alarming number of cigarettes you would be smoking per day, week, month, and year if current local air quality
                conditions persisted. Not only does pollution harm the environment, but so does it
                ourselves, which is why we as a community need to take action now before it is too late. If you are interested in
                taking a look at my other work, please follow the links here to my Github and Linkedin.</p>
    </div>

    {{>footer}}
</body>

</html>