<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <!-- href in this is relative to public folder named in app.js as public -->
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        {{!-- <h1>{{title}}</h1> --}}
        <img class="portrait" src="/img/me.jpg">
        {{!-- <p>By {{name}}</p> --}}
    </div>

    {{>footer}}
</body>

</html>