<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <!-- href is relative path -->
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
    </div>


    {{!-- <h1>Help</h1>
        <p>{{msg}}</p>
        <p>{{name}} </p> --}}
    {{>footer}}
</body>

</html>