/* h1 {
    color: grey;
} */

body {
    color: #333333;
    font-family: arial;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16 px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex-grow: 1;
    
}

/* Decreasing all our image asset sizes */
.portrait {
    width: 250px;
}

footer {
    color: #888888;
    /* padding: 16 px;
    margin: 16 px; */
    border-top: 1px solid #eeeeee;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
}

header a {
    color: #888;
    margin-right: 16px;
    text-decoration: none;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

th, td {
  border: 1px solid black;
}

table {
  width: 100%;
}

.cig-png {
    max-width: 50%;
    height: auto;
}

.cig-png-med {
    max-width: 25%;
    height: auto;
}

.cig-png-sm {
    max-width: 10%;
    height: auto;
}

.cig-png-xsm {
    max-width: 5%;
    height: auto;
}